.main-404 {
    height: 100vh;
    padding-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-404 h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.main-404 p {
    font-size: 18px;
    margin-bottom: 32px;
}
.main-404 a {
    padding: 16px 24px 16px 24px;
    border-radius: 8px;
    color: #fff;
    background-color:#000000;
    font-size: 18px;
    max-width: 248px;
    border: 1px solid #000000;
    transition: .3s all;
}
.main-404 a:hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    
}
@media(max-width:768px) {
    .main-404 {
        height: 100vh;
        padding-left: 30px;
     
    }
    .main-404 h1 {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 30px;
    }
}